<header class="header">
  <div>
    <h1>Incident Response Manager</h1>
    <p class="subtitle">{{title}}</p>
  </div>

  <div class="header-actions">
    <button
      class="btn btn-secondary header-nav-back-btn hidden"
      id="users-nav-btn"
      type="button"
    >
      Users
    </button>
    <button
      class="btn btn-secondary header-nav-back-btn"
      id="dashboard-nav-btn"
      type="button"
    >
      Dashboard
    </button>

    <button class="btn btn-primary" id="create-incident-btn">+ Incident</button>

    <button class="btn btn-secondary" id="create-template-btn">
      Templates
    </button>

    <button class="btn btn-secondary" id="logout-btn">Logout</button>
  </div>
</header>
