<div class="modal-form hidden" id="modal-form-role">
  <div class="modal-form__overlay"></div>

  <div class="modal-form__container">
    <button class="modal-form__close" type="button">×</button>

    <h2 class="modal-form__title" id="modal-role-title">Add Role</h2>

    <form class="modal-form__form">
      <input type="hidden" id="modal-role-id" />

      <div class="modal-form__group">
        <label class="modal-form__label" for="modal-form-incident--role">
          Role
        </label>

        <select class="modal-form__input" id="modal-form-incident--role">
          <option value=""></option>
        </select>
      </div>

      <button class="btn btn-primary" id="modal-role-submit" type="submit">
        Create Role
      </button>
    </form>
  </div>
</div>
