<div class="modal-form hidden" id="modal-confirm">
  <div class="modal-form__overlay"></div>

  <div class="modal-form__container">
    <h2 class="modal-form__title" id="modal-confirm-title">Confirm</h2>

    <p id="modal-confirm-message">Are you sure?</p>

    <div class="card-actions">
      <button class="btn btn-secondary" id="modal-confirm-cancel" type="button">
        Cancel
      </button>

      <button class="btn btn-danger" id="modal-confirm-confirm" type="button">
        Confirm
      </button>
    </div>
  </div>
</div>
