<div class="modal-form hidden" id="modal-form-action">
  <div class="modal-form__overlay"></div>

  <div class="modal-form__container">
    <button class="modal-form__close" type="button">×</button>

    <h2 class="modal-form__title" id="modal-action-title">Add Action</h2>

    <form class="modal-form__form">
      <input type="hidden" id="modal-action-id" />

      <input type="hidden" id="modal-action-stage-id" />

      <div class="modal-form__group">
        <label>Action Number</label>

        <input
          class="modal-form__input"
          type="number"
          id="modal-action-number"
        />
      </div>

      <div class="modal-form__group">
        <label>Title</label>

        <input
          class="modal-form__input"
          type="text"
          id="modal-action-title-input"
        />
      </div>

      <div class="modal-form__group">
        <label>Description</label>

        <textarea
          class="modal-form__input"
          id="modal-action-description"
        ></textarea>
      </div>

      <div class="modal-form__group">
        <label> Due From Stage Start </label>

        <input
          class="modal-form__input"
          type="number"
          id="modal-action-stage-due"
        />
      </div>

      <div class="modal-form__group">
        <label> Due From Incident Start </label>

        <input
          class="modal-form__input"
          type="number"
          id="modal-action-incident-due"
        />
      </div>

      <div class="modal-form__group">
        <label>Roles</label>

        <div id="modal-action-roles"></div>
      </div>
      <button class="btn btn-primary" id="modal-action-submit" type="submit">
        Create Action
      </button>
    </form>
  </div>
</div>
